[submodule "extern/rawgl"]
	path = extern/rawgl
	url = https://github.com/cyxx/rawgl.git
[submodule "extern/miniz"]
	path = extern/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/TinySoundFont"]
	path = extern/TinySoundFont
	url = https://github.com/schellingb/TinySoundFont.git
[submodule "extern/munt"]
	path = extern/munt
	url = https://github.com/munt/munt.git
[submodule "extern/libchdr"]
	path = extern/libchdr
	url = https://github.com/rtissera/libchdr.git
